In [1]:
from azure.storage.blob import BlobServiceClient
from azure.storage.blob import ContainerClient

from azure.core.credentials import AzureKeyCredential

from azure.ai.formrecognizer import FormRecognizerClient
from video_indexer import VideoIndexer

from azure.cognitiveservices.vision.face import FaceClient
from azure.cognitiveservices.vision.face.models import TrainingStatusType

from msrest.authentication import CognitiveServicesCredentials
from msrest.authentication import ApiKeyCredentials

from azure.cognitiveservices.vision.customvision.training import (
    CustomVisionTrainingClient,
)
from azure.cognitiveservices.vision.customvision.prediction import (
    CustomVisionPredictionClient,
)
from azure.cognitiveservices.vision.customvision.training.models import (
    ImageFileCreateBatch,
    ImageFileCreateEntry,
    Region,
)

In [2]:
from datetime import datetime
from matplotlib.pyplot import imshow
import matplotlib.pyplot as plt

%matplotlib inline

from urllib.parse import urlparse
from io import BytesIO
from PIL import Image, ImageDraw
import os
import io
import time
import shutil
import pandas as pd

from dotenv import load_dotenv
from pathlib import Path

dotenv_path = Path("../.env")
load_dotenv(dotenv_path=dotenv_path)

True

In [3]:
TRAINING_ENDPOINT = os.getenv("CUSTOM_VISION_TRAINING_ENDPOINT")
training_key = os.getenv("CUSTOM_VISION_TRAINING_KEY")
training_resource_id = os.getenv("CUSTOM_VISION_TRAINING_RESOURCE_ID")

In [4]:
PREDICTION_ENDPOINT = os.getenv("CUSTOM_VISION_PREDICTION_ENDPOINT")
prediction_key = os.getenv("CUSTOM_VISION_PREDICTION_KEY")
prediction_resource_id = os.getenv("CUSTOM_VISION_PREDICTION_RESOURCE_ID")

In [5]:
prediction_credentials = ApiKeyCredentials(
    in_headers={"Prediction-key": prediction_key}
)
predictor = CustomVisionPredictionClient(
    PREDICTION_ENDPOINT, prediction_credentials)
predictor.api_version

'3.1'

In [6]:
training_credentials = ApiKeyCredentials(
    in_headers={"Training-key": training_key})


trainer = CustomVisionTrainingClient(TRAINING_ENDPOINT, training_credentials)


trainer.api_version

'3.4-preview'

### Extract from ID Card and Boarding pass

In [7]:
AZURE_FORM_RECOGNIZER_ENDPOINT = os.getenv("AZURE_FORM_RECOGNIZER_ENDPOINT")
AZURE_FORM_RECOGNIZER_KEY = os.getenv("AZURE_FORM_RECOGNIZER_KEY")

In [8]:
# Get the environment variable
VIDEO_RECOGNIZER_SUBSCRIPTION_KEY = os.getenv(
    "VIDEO_RECOGNIZER_SUBSCRIPTION_KEY")
VIDEO_RECOGNIZER_ACCOUNT_ID = os.getenv("VIDEO_RECOGNIZER_ACCOUNT_ID")

CONFIG = {
    "SUBSCRIPTION_KEY": VIDEO_RECOGNIZER_SUBSCRIPTION_KEY,
    "LOCATION": "trial",
    "ACCOUNT_ID": VIDEO_RECOGNIZER_ACCOUNT_ID,
}
video_analysis = VideoIndexer(
    vi_subscription_key=CONFIG["SUBSCRIPTION_KEY"],
    vi_location=CONFIG["LOCATION"],
    vi_account_id=CONFIG["ACCOUNT_ID"],
)

In [9]:
video_analysis.check_access_token()

Getting video indexer access token...
Access Token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJWZXJzaW9uIjoiMi4wLjAuMCIsIktleVZlcnNpb24iOiI1MTBhNTI4NTRiZjg0MDIwOTZhNDZjN2I0ZWY1NTE4OCIsIkFjY291bnRJZCI6ImVmOWZjNzIxLWI2MzYtNDNmYi05MTIzLTU5ZTY2YWJhZTM5ZCIsIkFjY291bnRUeXBlIjoiVHJpYWwiLCJQZXJtaXNzaW9uIjoiQ29udHJpYnV0b3IiLCJFeHRlcm5hbFVzZXJJZCI6IkM0MjQ0ODhDNEZGQzRFODA5NTM5M0E2NjY5MDAxN0Y1IiwiVXNlclR5cGUiOiJNaWNyb3NvZnRDb3JwQWFkIiwiSXNzdWVyTG9jYXRpb24iOiJUcmlhbCIsIm5iZiI6MTcxMzc5NjA2MSwiZXhwIjoxNzEzNzk5OTYxLCJpc3MiOiJodHRwczovL2FwaS52aWRlb2luZGV4ZXIuYWkvIiwiYXVkIjoiaHR0cHM6Ly9hcGkudmlkZW9pbmRleGVyLmFpLyJ9.dNUbv8en22zs8Cs3HhN529d6ipvVXw8rAn4ZhVKMu0OLmhY9ck-gxleAwNdxiM6g9p-tPYiJ1j5Dcq1njgmYIOdK0lHV5FrLQkz8N09KDR8dh1BNzwXMu-kqg89lJeFUJ3D1_tjhcd7c7jNiIzY3nUgMICphSXxeGoEm8UafHOiwI0uNDma-rwAFV02b-dqqJO2hlMv5pLYOJZgm_x4IuaTPJD8G381l5M-nrBpucCMtsxZY10LZ721uWWeUSPaySGoODxRm2TrGVod-gtiL8QwoXBUhtSKd8HDZ9tTX4FefaLGzJ-5ggBoaTP5BUcAh-IsKJ3IiFhB5s3WD_12s7Q

In [10]:
endpoint = AZURE_FORM_RECOGNIZER_ENDPOINT
key = AZURE_FORM_RECOGNIZER_KEY

In [11]:
# Get the environment variable
FACE_API_KEY = os.getenv("FACE_API_KEY")
FACE_API_ENDPOINT = os.getenv("FACE_API_ENDPOINT")

In [12]:
# Create a client
face_client = FaceClient(FACE_API_ENDPOINT, CognitiveServicesCredentials(FACE_API_KEY))

In [13]:
form_recognizer_client = FormRecognizerClient(
    endpoint=endpoint, credential=AzureKeyCredential(key)
)

In [14]:
def extract_id_card_data(file_name):
    with open(file_name, "rb") as f:
        poller = form_recognizer_client.begin_recognize_identity_documents(
            identity_document=f
        )
    id_documents = poller.result()
    info_dict = {}
    for idx, id_document in enumerate(id_documents):
        first_name = id_document.fields.get("FirstName")
        if first_name:
            info_dict["First Name"] = first_name.value[:]
        last_name = id_document.fields.get("LastName")
        if last_name:
            info_dict["Last Name"] = last_name.value[:]
        dob = id_document.fields.get("DateOfBirth")
        if dob:
            info_dict["Date of Birth"] = dob.value
    return info_dict

In [15]:
def extract_id_boarding_pass(model_id, file_name):
    with open(file_name, "rb") as f:
        poller = form_recognizer_client.begin_recognize_custom_forms(
            model_id=model_id, form=f, include_field_elements=True
        )
    forms = poller.result()

    info_dict = {}
    for idx, form in enumerate(forms):
        for name, field in form.fields.items():
            if field.label_data:
                info_dict[field.label_data.text] = field.value
    print(info_dict)
    return info_dict

In [16]:
def extract_faces_from_video(save_path, video_id):
    if not os.path.exists(save_path):
        os.mkdir(save_path)
    info = video_analysis.get_video_info(video_id, video_language="English")
    images = []
    # img_raw = []
    img_strs = []
    for each_thumb in info["videos"][0]["insights"]["faces"][0]["thumbnails"]:
        if "fileName" in each_thumb and "id" in each_thumb:
            file_name = each_thumb["fileName"]
            thumb_id = each_thumb["id"]
            img_code = video_analysis.get_thumbnail_from_video_indexer(
                video_id, thumb_id
            )
            img_strs.append(img_code)
            img_stream = io.BytesIO(img_code)
            # img_raw.append(img_stream)
            img = Image.open(img_stream)
            images.append(img)

    # Save the faces
    i = 1
    for img in images:
        img.save(f"{save_path}/human-face" + str(i) + ".jpg")
        i = i + 1
    list_images = os.listdir(save_path)
    return list_images

In [17]:
def detect_face_from_image(selected_image):
    with open(selected_image, mode="rb") as image_data:
        detected_faces = face_client.face.detect_with_stream(
            image_data,
            detection_model="detection_03",
            recognition_model="recognition_04",
            return_face_attributes=["qualityForRecognition"],
        )
    if not detected_faces:
        raise Exception("No face detected from image {}".format(single_image_name))
    return detected_faces

In [18]:
def face_verification(card_id, faces_folder):
    # card_id = "ca-dl-avkash.png"
    list_images = extract_faces_from_video(faces_folder, video_id)
    with open(card_id, mode="rb") as image_data:
        faces = face_client.face.detect_with_stream(
            image_data,
            detection_model="detection_03",
            recognition_model="recognition_04",
            return_face_attributes=["qualityForRecognition"],
        )
    for face in faces:
        source_image_face_id = face.face_id

    group_faces_object = detect_face_from_image(
        os.path.join(faces_folder, list_images[0])
    )
    group_image_face_IDs_list = list(map(lambda x: x.face_id, group_faces_object))
    verify_result = face_client.face.verify_face_to_face(
        source_image_face_id, group_image_face_IDs_list[0]
    )
    return verify_result

In [41]:
def lighter_detection(image_file_name):
    all_project = trainer.get_projects()
    isLighter_detected = False
    publish_iteration_name = (
        "boardingkioskcv"  # replace with your published iteration name
    )

    with open(image_file_name, "rb") as image_contents:
        results = predictor.detect_image(
            all_project[0].id, publish_iteration_name, image_contents.read()
        )
        # Display the results.
        for prediction in results.predictions:
            if prediction.probability * 100 > 65:
                isLighter_detected = True
    return isLighter_detected

In [42]:
def information_validation(
    form_model_id,
    card_id,
    faces_folder,
    boarding_pass_file,
    video_id,
    manifest_data,
    luggage_image_path,
    file_name,
):
    # Extract necessary data
    card_info = extract_id_card_data(card_id)
    boarding_pass_info = extract_id_boarding_pass(
        form_model_id, boarding_pass_file)
    face_verify_result = face_verification(card_id, faces_folder)

    # Initialize validation result dictionary
    validation_result = {}

    # Validate face verification
    validation_result["PersonValidation"] = validate_face_verification(
        face_verify_result
    )

    # Validate manifest data
    for idx, row in manifest_data.iterrows():
        validation_result["NameValidation"] = validate_name(card_info, row)
        validation_result["DoBValidation"] = validate_dob(card_info, row)
        validation_result["BoardingPassValidation"] = validate_boarding_pass(
            boarding_pass_info, row
        )

        # Update manifest data
        for validation_key in validation_result.keys():
            manifest_data.at[idx,
                             validation_key] = validation_result[validation_key][1]

    # Validate luggage
    validation_result["LuggageValidation"] = validate_luggage(
        luggage_image_path, file_name
    )

    # Determine final message
    message_result = determine_final_message(validation_result)

    return manifest_data, message_result

In [43]:
def validate_face_verification(face_verify_result):
    if face_verify_result.is_identical and face_verify_result.confidence >= 0.65:
        return generate_message(True), True
    else:
        return generate_message(False), False

In [44]:
def validate_luggage(luggage_image_path, file_name):
    if not lighter_detection(os.path.join(luggage_image_path, file_name)):
        return None, True
    else:
        return None, False

In [45]:
def validate_name(card_info, row):
    if (
        card_info["First Name"].lower() != row["First Name"].lower()
        or card_info["Last Name"].lower() != row["Last Name"].lower()
    ):
        return generate_message(False), False
    else:
        return generate_welcome_message(), True

In [46]:
def validate_dob(card_info, row):
    if datetime.strptime(row["Date of Birth"], "%m/%d/%Y") != datetime.strptime(
        str(card_info["Date of Birth"]), "%Y-%m-%d"
    ):
        return generate_message(False), False
    else:
        return generate_welcome_message(), True

In [47]:
def validate_boarding_pass(boarding_pass_info, row):
    if (
        boarding_pass_info["PST"] + " PST" != row["Boarding Time"]
        or boarding_pass_info["Date"] != row["Date"]
        or boarding_pass_info["To:"] != row["To"]
        or boarding_pass_info["From:"] != row["From"]
        or str(boarding_pass_info["Flight No."]) != str(row["Flight No."])
        or boarding_pass_info["Seat"] != row["Seat"]
        or boarding_pass_info["Class"] != row["Class"][0:1]
    ):
        return generate_message(False), False
    else:
        return generate_welcome_message(), True

In [48]:
def generate_message(is_valid):
    if is_valid:
        return (
            "Dear Mr. Avkash Chauhan, You are welcome to flight # A123 leaving at 4:30 PM from San Francisco to Chicago. Your seat number is A5, and it is confirmed. We did not find a prohibited item (lighter) in your carry-on baggage, thanks for following the procedure. Your identity is verified so please board the plane.",
            True,
        )
    else:
        return (
            "Dear Sir/Madam, Some of the information on your ID card does not match the flight manifest data, so you cannot board the plane. Please see a customer service representative.",
            False,
        )

In [49]:
def generate_welcome_message():
    return (
        "Dear Mr. Avkash Chauhan, You are welcome to flight # A123 leaving at 4:30 PM from San Francisco to Chicago. Your seat number is A5, and it is confirmed. We did not find a prohibited item (lighter) in your carry-on baggage, thanks for following the procedure. Your identity is verified so please board the plane.",
        True,
    )

In [50]:
def determine_final_message(validation_result):
    for item in validation_result.values():
        if not item[1]:
            return item[0]
    return validation_result["NameValidation"][0]

In [51]:
container = ContainerClient.from_connection_string(
    conn_str=os.getenv("STORAGE_ACCOUNT_CONNECTION_STRING"),
    container_name="boardingkioskstorageacc",
)
blob_list = container.list_blobs()
for blob in blob_list:
    print(blob.name + "\n")

FlightManifest.csv

boarding-james-webb.pdf

boarding-james-webb.pdf.labels.json

boarding-james-webb.pdf.ocr.json

boarding-james.pdf

boarding-james.pdf.labels.json

boarding-james.pdf.ocr.json

boarding-libby.pdf

boarding-libby.pdf.labels.json

boarding-libby.pdf.ocr.json

boarding-pass/boarding-james-webb.pdf

boarding-pass/boarding-james-webb.pdf.labels.json

boarding-pass/boarding-james-webb.pdf.ocr.json

boarding-pass/boarding-james.pdf

boarding-pass/boarding-james.pdf.labels.json

boarding-pass/boarding-james.pdf.ocr.json

boarding-pass/boarding-libby.pdf

boarding-pass/boarding-libby.pdf.labels.json

boarding-pass/boarding-libby.pdf.ocr.json

boarding-pass/boarding-radha-s-kumar.pdf

boarding-pass/boarding-radha-s-kumar.pdf.labels.json

boarding-pass/boarding-radha-s-kumar.pdf.ocr.json

boarding-pass/boarding-sameer.pdf

boarding-pass/boarding-sameer.pdf.labels.json

boarding-pass/boarding-sameer.pdf.ocr.json

boarding-pass/fields.json

boarding-radha-s-kumar.pdf

boarding-radha-s-kumar.pdf.labels.json

boarding-radha-s-kumar.pdf.ocr.json

boarding-sameer.pdf

boarding-sameer.pdf.labels.json

boarding-sameer.pdf.ocr.json

boardingkiosk.fott

boardingkiosk2.fott

digital-id/Face/avkash.png

digital-id/Face/james-jackson.png

digital-id/Face/james-webb.png

digital-id/Face/libby-herold.png

digital-id/Face/radha-s-kumar.png

digital-id/Face/sameer-kumar.png

digital-id/ca-dl-avkash-chauhan.png

digital-id/ca-dl-james-jackson.png

digital-id/ca-dl-james-webb.png

digital-id/ca-dl-libby-herold.png

digital-id/ca-dl-radha-s-kumar.png

digital-id/ca-dl-sameer-kumar.png

faces/face1.png

faces/face2.png

faces/face3.png

faces/face4.png

faces/face5.png

faces/face6.png

faces/face7.png

fields.json

flight-manifest.csv

lighter-images/lighter-1.png

lighter-images/lighter-2.png

lighter-images/lighter-3.png

lighter-images/lighter-4.png

lighter-images/lighter-5.png

In [52]:
import pandas as pd


manifest_data = pd.read_csv(
    "https://boardingkioskstorageacc.blob.core.windows.net/boardingkioskstorageacc/flight-manifest.csv?sp=racwdyti&st=2024-04-22T14:04:50Z&se=2024-04-22T22:04:50Z&sv=2022-11-02&sr=b&sig=8OshyjRV0hPdttu0NJlTBUgsjHz9WOUIbW8ZenjjMlo%3D",
    index_col=0,
)

In [53]:
display(manifest_data)

,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,First Name,Last Name,Date of Birth,Sex,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,James,Jackson,10/12/1956,M,False,False,False,False,False
1,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,James,Webb,12/15/1970,M,False,False,False,False,False
2,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,Libby,Herold,2/10/1996,F,False,False,False,False,False
3,UA,234,Business,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,Radha,S. Kumar,3/5/1994,F,False,False,False,False,False
4,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,Sameer,Kumar,1/25/1990,M,False,False,False,False,False
5,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,Akash chauhan,Chauhan,1/1/1990,M,False,True,True,True,True

In [54]:
id_card_folder = "../step_2_text_data_extraction"
card_id_name = "ca-dl-avkash-chauhan.png"

In [55]:
boarding_pass_folder = "../step_2_text_data_extraction"
boarding_pass_name = "boarding-avkash.pdf"

In [56]:
faces_folder = "step_4_object_detection"

In [57]:
video_id = "64149dd30d"
form_model_id = "c4d9ee57-7f25-42b2-902d-46f08a2c854c"

In [58]:
luggage_image_path = "../step_0_project_starter_material_prep/lighter_test_images/"
file_name = "lighter_test_set_2of5.jpg"

In [59]:
boarding_pass_file = os.path.join(boarding_pass_folder, boarding_pass_name)
card_id = os.path.join(id_card_folder, card_id_name)

In [60]:
person_data = manifest_data.take([5])

In [61]:
%%time
manifest_data_updated, message_result = information_validation(
    form_model_id,
    card_id,
    faces_folder,
    boarding_pass_file,
    video_id,
    manifest_data,
    luggage_image_path,
    file_name,
)

{'Passenger Name': 'Avkash Chauhan', 'Carrier': 'UA', 'Flight No.': '234', 'Class': 'E', 'From:': 'San Francisco', 'Date': 'April 20, 2022', 'Baggage': 'NO', 'Seat': '20A', 'To:': 'Chicago', 'GATE': 'G1', 'PST': '10:00 AM'}
Getting video info for: 64149dd30d
Getting thumbnail from video: 64149dd30d, thumbnail: ef318fb2-c1f0-4d14-aa64-c3259d718614
Getting thumbnail from video: 64149dd30d, thumbnail: 1c3a2652-6b48-4b7d-8959-66f866ffbd8e
Getting thumbnail from video: 64149dd30d, thumbnail: 56540d46-3333-4c19-a56d-4477289819ae
Getting thumbnail from video: 64149dd30d, thumbnail: 6ea863a1-a537-4725-8945-67ff09113385
Getting thumbnail from video: 64149dd30d, thumbnail: bb0d53fa-88b3-450f-8a2a-ab70d9ba6116
Getting thumbnail from video: 64149dd30d, thumbnail: 2d3e2c04-63fa-417a-87b7-1192bf644712
Getting thumbnail from video: 64149dd30d, thumbnail: 138bef8e-a1a7-45cc-9f49-e5a8ed02bbf2
CPU times: total: 2.2 s
Wall time: 20.2 s

In [62]:
manifest_data_updated

,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,First Name,Last Name,Date of Birth,Sex,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,James,Jackson,10/12/1956,M,False,False,True,False,False
1,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,James,Webb,12/15/1970,M,False,False,True,False,False
2,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,Libby,Herold,2/10/1996,F,False,False,True,False,False
3,UA,234,Business,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,Radha,S. Kumar,3/5/1994,F,False,False,True,False,False
4,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,Sameer,Kumar,1/25/1990,M,False,False,True,False,False
5,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,20A,G1,10:00 AM PST,34236751,Akash chauhan,Chauhan,1/1/1990,M,False,True,True,True,True

In [63]:
message_result

('Dear Sir/Madam, Some of the information on your ID card does not match the flight manifest data, so you cannot board the plane. Please see a customer service representative.',
 False)

In [64]:
new_manifest_data = manifest_data.copy()
new_manifest_data.loc[5] = manifest_data_updated.values[0]

In [ ]:
new_manifest_data

,Carrier,Flight No.,Class,From,To,Date,Baggage,Seat,Gate,Boarding Time,Ticket No.,First Name,Last Name,Date of Birth,Sex,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,James,Jackson,10/12/1956,M,False,False,True,False,False
1,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",No,1A,G1,10:00 AM PST,34236748,James,Webb,12/15/1970,M,False,False,True,False,False
2,UA,234,Business,San Francisco,Chicago,"April 20, 2022",No,3D,G1,10:00 AM PST,34236749,Libby,Herold,2/10/1996,F,False,False,True,False,False
3,UA,234,Business,San Francisco,Chicago,"April 20, 2022",YES,34B,G1,10:00 AM PST,34236747,Radha,S. Kumar,3/5/1994,F,False,False,True,False,False
4,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,34A,G1,10:00 AM PST,34236746,Sameer,Kumar,1/25/1990,M,False,False,True,False,False
5,UA,234,Economy,San Francisco,Chicago,"April 20, 2022",YES,25B,G1,10:00 AM PST,34236750,James,Jackson,10/12/1956,M,False,False,True,False,False